# Hugo default output directory
public/
resources/
node_modules/
build/
.hugo_build.lock

## OS Files

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory

# vscode
.vscode/

# node
node_modules/
dist/
package-lock.json
